<!--The content below is only a placeholder and can be replaced.-->
<div><input type="text" #nome><button (click)="onGetInfo(nome.value)">get info</button></div>
<div *ngIf="gamePlayers!=null">
  <div style="width: 50%;float: left;">
  <ng-container *ngFor="let player of gamePlayers" >
    <ng-container *ngIf="player.teamId==100">
      <p>{{player.summonerName}}</p><p> : {{onSearchChampion(player.championId)}}</p>
    </ng-container>
  </ng-container>
</div>
<div style="width: 50%;float: left;">
  <ng-container *ngFor="let player of gamePlayers">
    <ng-container *ngIf="player.teamId==200" >
      <p>{{player.summonerName}}</p><p> : {{onSearchChampion(player.championId)}}</p>
    </ng-container>
  </ng-container>
</div>
</div>
<router-outlet></router-outlet>